BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Allman
IndentCaseLabels: true
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
ReflowComments: true
SortIncludes: false
AlignTrailingComments: true
PointerAlignment: Left
DerivePointerAlignment: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always
